[user]
    email = shahzadlone@gmail.com
    name = Shahzad Lone

[core]
    editor = $VISUAL
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[color]
  ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = magenta reverse ul

[color "branch"]
    current = green bold
    local = cyan bold
    remote = yellow bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold


[url "https://gitlab.com/"]
    insteadOf = "gl:"

[url "https://github.com/"]
    insteadOf = "gh:"

[url "git@bitbucket.org:"]
    insteadOf = "bb:"

[url "https://gitlab.com/shahzadlone/"]
    insteadOf = "gls:"

[url "https://github.com/shahzadlone/"]
    insteadOf = "ghs:"

[url "https://bitbucket.com/shahzadlone/"]
    insteadOf = "bbs:"

[pretty]
    custom = "%C(bold yellow)%h%C(bold magenta)%d %C(bold white)%ar %C(bold cyan)%s %C(bold blue)(%an)"
    #                         │                 │                │                │                └─ author name
    #                         │                 │                │                └─ message
    #                         │                 │                └─ date (relative)
    #                         │                 └─ decorations (branch, heads or tags)
    #                         └─ hash (abbreviated)

[alias]
    a = add
    aa = add -A
    ac  = !git add -A && git commit -v
    ap = add -p
    b = branch
    ba = branch --all
    bl = blame
    c = commit -v
    ca = commit --amend
    co = commit --date=\"1 day ago\" -v
    ch = checkout
    chb = checkout -b
    cl = clone
    clb = clone --bare
    cl1 = clone --depth 1
    cp = cherry-pick
    d = diff --color
    ds = diff --color --cached
    drb = push -d origin 
    f = fetch
    fp = fetch --all --prune
    l = log --pretty=custom
    lf = log --first-parent
    lg   = log --graph --pretty=custom  
    ln = log
    lo = log --graph --decorate --pretty=oneline --abbrev-commit --all
    ls = ls-files
    lsf = !git ls-files | egrep -i
    lsr = remote -v
    m = merge
    o = origin
    p = push
    po = push origin
    pl = pull
    plo = pull origin
    r = reset
    ra = remote add
    rmup = remote rm upstream
    rhar = reset --hard
    rmix = reset --mixed
    rsof = reset --soft
    rm = rm -r
    rmc = rm -r --cached
    rmf = rm -r -f
    s = status
    sm = submodule
    st = stash
    stl = stash list
    sh = show
    wt = worktree
