[user]
    email = shahzadlone@gmail.com
    name = Shahzad Lone

[core]
    editor = $VISUAL
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore

[diff]
    tool = vimdiff

[difftool]
    prompt = false

[merge]
    tool = vimdiff
    conflictstyle = diff3

[color]
  ui = auto

[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = magenta reverse ul

[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold

[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold


[url "https://github.com/"]
    insteadOf = "gh:"

[url "git@bitbucket.org:"]
    insteadOf = "bb:"

[url "https://github.com/shahzadlone/"]
    insteadOf = "sl:"
