# Shahzad's Input Configurations.

# Do tab complition on first tab.
set show-all-if-ambiguous on

# My selected editing mode.
set editing-mode vi

# =====[ Modifications for vi mode. ]===== {{{
$if mode=vi

    # Show mode we are in (insert or normal(command) ).
    set show-mode-in-prompt on

    # Insert mode settings
    set keymap vi-insert

    # If want just a white indicator to show that we are in insert mode.
    #set vi-ins-mode-string "+"

    # If want a colored text to show that we are in insert mode.
    set vi-ins-mode-string "\1\e[1;36m\2[INSERT] \1\e[0m\2"

    "\C-x\C-r": re-read-init-file

    "jj": vi-movement-mode
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-l": clear-screen

    # Shortcut for inserting a grep pipeline at eol
    "\C-g": "\e$a | grep "

    # Ctrl+left/right for word movement
    "\e\e[C": forward-word
    "\e\e[D": backward-word
    "\e[1;5C": forward-word
    "\e[1;5D": backward-word

    # Disable left and right cursor movement
    # "\e[C": redraw-current-line
    # "\e[D": redraw-current-line

    # Command mode settings
    set keymap vi-command

    # If want just a white indicator to show that we are in normal mode.
    #set vi-cmd-mode-string ":"

    # If want a colored text to show that we are in normal mode.
    set vi-cmd-mode-string "\1\e[1;31m\2[NORMAL] \1\e[0m\2"

    "gg": beginning-of-history
    "G": end-of-history

    # Shortcut for inserting a grep pipeline at eol
    "\C-g": "$a | grep "

    # Ctrl+left/right for word movement
    "\e\e[C": forward-word
    "\e\e[D": backward-word
    "\e[1;5C": forward-word
    "\e[1;5D": backward-word

    # Disable left and right cursor movement
    # "\e[C": redraw-current-line
    # "\e[D": redraw-current-line

$endif
# ======================================== }}}


# =====[ Emac mode modifications. ]===== {{{
#$if mode=emacs
#$endif
# ====================================== }}}
