# Shahzad's Input Configurations.

# =====[ Modifications for vi mode. ]===== {{{
$if mode=vi
# Insert mode settings
    set keymap vi-insert

    "jj": vi-movement-mode
    "\C-p": history-search-backward
    "\C-n": history-search-forward
    "\C-l": clear-screen

    # Shortcut for inserting a grep pipeline at eol
    "\C-g": "\e$a | grep "

    # Ctrl+left/right for word movement
    "\e\e[C": forward-word
    "\e\e[D": backward-word
    "\e[1;5C": forward-word
    "\e[1;5D": backward-word

    # Disable left and right cursor movement
    # "\e[C": redraw-current-line
    # "\e[D": redraw-current-line

    # Command mode settings
    set keymap vi-command

    "gg": beginning-of-history
    "G": end-of-history

    # Shortcut for inserting a grep pipeline at eol
    "\C-g": "$a | grep "

    # Ctrl+left/right for word movement
    "\e\e[C": forward-word
    "\e\e[D": backward-word
    "\e[1;5C": forward-word
    "\e[1;5D": backward-word

    # Disable left and right cursor movement
    # "\e[C": redraw-current-line
# "\e[D": redraw-current-line
$endif
# ======================================== }}}


# =====[ Emac mode modifications. ]===== {{{
#$if mode=emacs
#$endif
# ====================================== }}}
